.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

}
@media only screen and (max-width: 600px) {
    .countries{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    
    }
  }